// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');
h2 { font-weight: bold; padding-bottom: 3px; }
img { border-radius: 5px; float: left; }
.tweet {
  color: #333;
  min-height: 50px;
}
.posted { float: right; }

html, body {
  font-family:"arial","宋体" ,"Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;

}
#newsdiv img{
 width: 150px;
 height: 150px;
}

#blogdiv  img{
  width: 150px;
  height: 150px;
}